<div class="row m-2 p-2">
<div class="card text-center offset-4">
    <div class="card-header bg-info text-white">
      Login
    </div>
    <div class="card-body">
      <div class="row form-group">
        <label class="col-lg-4" for="txtName">UserName</label>
        <div class="col-lg-8">
            <input [(ngModel)]="user.username" type="text" class="form-control" name="Username" id="txtName" placeholder="User Name">
        </div>
      </div>
      <div class="row form-group">
        <label class="col-lg-4" for="txtPassword">Password</label>
        <div class="col-lg-8">
            <input [(ngModel)]="user.password" type="password" class="form-control" name="password" id="txtPassword" placeholder="Password">
        </div>
      </div>
    </div>
    <div class="card-footer text-muted">
      <button (click)="loginCheck()" class="btn btn-success form-control">Login</button>
    </div>
  </div>
</div>